In [27]:
import pandas as pd

In [28]:
pitstop_df = pd.read_csv('dataset/pitStops.csv')
races_df = pd.read_csv('dataset/races.csv')
results_df = pd.read_csv('dataset/results.csv')
constructors_df = pd.read_csv('dataset/constructors.csv')
drivers_df = pd.read_csv('dataset/drivers.csv', encoding='iso-8859-1')

In [29]:
races_df = races_df.rename(columns={'time': 'time_race'})

In [30]:
pitstop_df = pitstop_df.rename(columns={'time': 'time_pitstop', 'milliseconds':'milliseconds_pitstop'})

In [31]:
pitstop_race_df = pd.merge(pitstop_df, races_df, on='raceId')

In [32]:
pitstop_race_results_df = pd.merge(pitstop_race_df, results_df, on=['raceId', 'driverId'])

### Report 3

In [33]:
min_pitstop_constructor_df = pitstop_race_results_df[['year','constructorId', 'driverId','milliseconds_pitstop']] \
            .groupby(['year', 'constructorId', 'driverId']) \
            .min()

In [34]:
min_year_pitstop_index = min_pitstop_constructor_df.groupby(['year'])['milliseconds_pitstop'].transform(min) == min_pitstop_constructor_df['milliseconds_pitstop']

In [35]:
report_3_df = min_pitstop_constructor_df[min_year_pitstop_index].reset_index()

In [36]:
report_3_df = pd.merge(report_3_df, constructors_df, on='constructorId')
report_3_df = pd.merge(report_3_df, drivers_df, on='driverId')

In [37]:
report_3_df = report_3_df[['year', 'constructorId', 'name', 'driverId', 'forename', 'surname', 'milliseconds_pitstop']] \
                .sort_values('year')

In [38]:
report_3_df

,year,constructorId,name,driverId,forename,surname,milliseconds_pitstop
0,2011,3,Williams,813,Pastor,Maldonado,12897
2,2012,131,Mercedes,30,Michael,Schumacher,13199
1,2013,3,Williams,813,Pastor,Maldonado,13266
3,2014,208,Lotus F1,154,Romain,Grosjean,16120
4,2015,1,McLaren,4,Fernando,Alonso,16128
5,2016,209,Manor Marussia,837,Rio,Haryanto,16218
6,2017,6,Ferrari,8,Kimi,RÌ_ikkÌ¦nen,14943

In [39]:
report_3_df.to_excel('reports/report3.xlsx', header=True, index=False)

### Report 4

In [40]:
report_4_df = pitstop_race_results_df[['year','constructorId','milliseconds_pitstop']] \
                .groupby(['year', 'constructorId']) \
                .min() \
                .reset_index()
            
report_4_df = pd.merge(report_4_df, constructors_df, on='constructorId')

In [41]:
report_4_df = report_4_df[['year', 'constructorId', 'name', 'milliseconds_pitstop']] \
                .sort_values(['year','name'])

In [42]:
report_4_df.head(10)

    year  constructorId         name  milliseconds_pitstop
24  2011              6      Ferrari                 14919
38  2011             10  Force India                 14538
59  2011            164          HRT                 14160
62  2011            205        Lotus                 20652
0   2011              1      McLaren                 13173
52  2011            131     Mercedes                 19534
31  2011              9     Red Bull                 19525
14  2011              4      Renault                 12959
45  2011             15       Sauber                 13201
17  2011              5   Toro Rosso                 20360

In [43]:
report_4_df.to_excel('reports/report4.xlsx', header=True, index=False)