In [102]:
import pandas as pd

In [103]:
races_df = pd.read_csv('dataset/races.csv')
results_df = pd.read_csv('dataset/results.csv')

just_n_constructors = 3

In [104]:
race_with_points_df = results_df[results_df['points'] > 0]

In [105]:
race_constructor_group_df = race_with_points_df[['raceId', 'constructorId']] \
    .groupby(['raceId', 'constructorId']) \
    .size() \
    .reset_index(name='count_drivers_with_points')

In [106]:
race_group_df = race_constructor_group_df[['raceId', 'constructorId']] \
    .groupby('raceId') \
    .size() \
    .reset_index(name='count_constructor')

In [107]:
report_2_df = race_group_df[race_group_df['count_constructor'] == just_n_constructors]

In [108]:
report_2_df = pd.merge(report_2_df, races_df, on='raceId')

In [109]:
report_2_df = report_2_df[['raceId', 'year', 'name', 'date', 'count_constructor']] \
                .sort_values(['year', 'date'])

In [110]:
report_2_df.head(10)

    raceId  year                name        date  count_constructor
74     834  1950   Monaco Grand Prix  1950-05-21                  3
75     836  1950    Swiss Grand Prix  1950-06-04                  3
76     837  1950  Belgian Grand Prix  1950-06-18                  3
77     839  1950  Italian Grand Prix  1950-09-03                  3
71     826  1951    Indianapolis 500  1951-05-30                  3
72     827  1951  Belgian Grand Prix  1951-06-17                  3
73     829  1951  British Grand Prix  1951-07-14                  3
67     818  1952    Indianapolis 500  1952-05-30                  3
68     820  1952   French Grand Prix  1952-07-06                  3
69     821  1952  British Grand Prix  1952-07-19                  3

In [111]:
report_2_df.to_excel('reports/report2.xlsx', header=True, index=False)