In [150]:
import pandas as pd

In [151]:
pitstop_df = pd.read_csv('dataset/pitStops.csv')
races_df = pd.read_csv('dataset/races.csv')
results_df = pd.read_csv('dataset/results.csv')
constructors_df = pd.read_csv('dataset/constructors.csv')
drivers_df = pd.read_csv('dataset/drivers.csv', encoding='iso-8859-1')

In [152]:
races_df = races_df.rename(columns={'time': 'time_race'})

In [153]:
pitstop_df = pitstop_df.rename(columns={'time': 'time_pitstop', 'milliseconds':'milliseconds_pitstop'})

In [154]:
pitstop_race_df = pd.merge(pitstop_df, races_df, on='raceId')

In [155]:
pitstop_race_results_df = pd.merge(pitstop_race_df, results_df, on=['raceId', 'driverId'])

In [156]:
min_pitstop_constructor_df = pitstop_race_results_df[['year','constructorId', 'driverId','milliseconds_pitstop']] \
            .groupby(['year', 'constructorId', 'driverId']) \
            .min()

In [157]:
min_year_pitstop_index = min_pitstop_constructor_df.groupby(['year'])['milliseconds_pitstop'].transform(min) == yy['milliseconds_pitstop']

In [158]:
report_3_df = min_pitstop_constructor_df[min_year_pitstop_index].reset_index()

In [159]:
report_3_df = pd.merge(report_3_df, constructors_df, on='constructorId')
report_3_df = pd.merge(report_3_df, drivers_df, on='driverId')

In [160]:
report_3_df = report_3_df[['year', 'constructorId', 'name', 'driverId', 'forename', 'surname', 'milliseconds_pitstop']] \
                .sort_values('year')

In [161]:
report_3_df

,year,constructorId,name,driverId,forename,surname,milliseconds_pitstop
0,2011,3,Williams,813,Pastor,Maldonado,12897
2,2012,131,Mercedes,30,Michael,Schumacher,13199
1,2013,3,Williams,813,Pastor,Maldonado,13266
3,2014,208,Lotus F1,154,Romain,Grosjean,16120
4,2015,1,McLaren,4,Fernando,Alonso,16128
5,2016,209,Manor Marussia,837,Rio,Haryanto,16218
6,2017,6,Ferrari,8,Kimi,RÌ_ikkÌ¦nen,14943

In [162]:
report_3_df.to_excel('reports/report3.xlsx', header=True, index=False)