In [150]:
import pandas as pd

In [151]:
pitstop_df = pd.read_csv('dataset/pitStops.csv')
races_df = pd.read_csv('dataset/races.csv')
results_df = pd.read_csv('dataset/results.csv')
constructors_df = pd.read_csv('dataset/constructors.csv')
drivers_df = pd.read_csv('dataset/drivers.csv', encoding='iso-8859-1')

In [152]:
races_df = races_df.rename(columns={'time': 'time_race'})

In [153]:
pitstop_df = pitstop_df.rename(columns={'time': 'time_pitstop', 'milliseconds':'milliseconds_pitstop'})

In [154]:
pitstop_race_df = pd.merge(pitstop_df, races_df, on='raceId')

In [155]:
pitstop_race_results_df = pd.merge(pitstop_race_df, results_df, on=['raceId', 'driverId'])

### Report 3

In [156]:
min_pitstop_constructor_df = pitstop_race_results_df[['year','constructorId', 'driverId','milliseconds_pitstop']] \
            .groupby(['year', 'constructorId', 'driverId']) \
            .min()

In [157]:
min_year_pitstop_index = min_pitstop_constructor_df.groupby(['year'])['milliseconds_pitstop'].transform(min) == yy['milliseconds_pitstop']

In [158]:
report_3_df = min_pitstop_constructor_df[min_year_pitstop_index].reset_index()

In [159]:
report_3_df = pd.merge(report_3_df, constructors_df, on='constructorId')
report_3_df = pd.merge(report_3_df, drivers_df, on='driverId')

In [160]:
report_3_df = report_3_df[['year', 'constructorId', 'name', 'driverId', 'forename', 'surname', 'milliseconds_pitstop']] \
                .sort_values('year')

In [161]:
report_3_df

,year,constructorId,name,driverId,forename,surname,milliseconds_pitstop
0,2011,3,Williams,813,Pastor,Maldonado,12897
2,2012,131,Mercedes,30,Michael,Schumacher,13199
1,2013,3,Williams,813,Pastor,Maldonado,13266
3,2014,208,Lotus F1,154,Romain,Grosjean,16120
4,2015,1,McLaren,4,Fernando,Alonso,16128
5,2016,209,Manor Marussia,837,Rio,Haryanto,16218
6,2017,6,Ferrari,8,Kimi,RÌ_ikkÌ¦nen,14943

In [162]:
report_3_df.to_excel('reports/report3.xlsx', header=True, index=False)

### Report 4

In [183]:
report_4_df = pitstop_race_results_df[['year','constructorId','milliseconds_pitstop']] \
                .groupby(['year', 'constructorId']) \
                .min() \
                .reset_index()
            
report_4_df = pd.merge(report_4_df, constructors_df, on='constructorId')

In [184]:
report_4_df = report_4_df[['year', 'constructorId', 'name', 'milliseconds_pitstop']] \
                .sort_values(['year','name'])

In [186]:
report_4_df

    year  constructorId            name  milliseconds_pitstop
24  2011              6         Ferrari                 14919
38  2011             10     Force India                 14538
59  2011            164             HRT                 14160
62  2011            205           Lotus                 20652
0   2011              1         McLaren                 13173
52  2011            131        Mercedes                 19534
31  2011              9        Red Bull                 19525
14  2011              4         Renault                 12959
45  2011             15          Sauber                 13201
17  2011              5      Toro Rosso                 20360
61  2011            166          Virgin                 13914
7   2011              3        Williams                 12897
66  2012            207        Caterham                 14250
25  2012              6         Ferrari                 13259
39  2012             10     Force India                 14128
60  2012            164             HRT                 14780
69  2012            208        Lotus F1                 17735
63  2012            206        Marussia                 13981
1   2012              1         McLaren                 16831
53  2012            131        Mercedes                 13199
32  2012              9        Red Bull                 13335
46  2012             15          Sauber                 13986
18  2012              5      Toro Rosso                 14641
8   2012              3        Williams                 13206
67  2013            207        Caterham                 17339
26  2013              6         Ferrari                 17367
40  2013             10     Force India                 14489
70  2013            208        Lotus F1                 16453
64  2013            206        Marussia                 17427
2   2013              1         McLaren                 17378
..   ...            ...             ...                   ...
42  2015             10     Force India                 16958
72  2015            208        Lotus F1                 16444
73  2015            209  Manor Marussia                 17116
4   2015              1         McLaren                 16128
56  2015            131        Mercedes                 16579
35  2015              9        Red Bull                 16453
49  2015             15          Sauber                 16211
21  2015              5      Toro Rosso                 16415
11  2015              3        Williams                 16427
29  2016              6         Ferrari                 18455
43  2016             10     Force India                 16227
75  2016            210    Haas F1 Team                 16475
74  2016            209  Manor Marussia                 16218
5   2016              1         McLaren                 16486
57  2016            131        Mercedes                 16983
36  2016              9        Red Bull                 17165
15  2016              4         Renault                 16851
50  2016             15          Sauber                 16419
22  2016              5      Toro Rosso                 18636
12  2016              3        Williams                 17388
30  2017              6         Ferrari                 14943
44  2017             10     Force India                 14951
76  2017            210    Haas F1 Team                 15073
6   2017              1         McLaren                 15097
58  2017            131        Mercedes                 14978
37  2017              9        Red Bull                 15135
16  2017              4         Renault                 15638
51  2017             15          Sauber                 17341
23  2017              5      Toro Rosso                 14966
13  2017              3        Williams                 15033

[77 rows x 4 columns]

In [188]:
report_4_df.to_excel('reports/report4.xlsx', header=True, index=False)