In [29]:
import pandas as pd

In [30]:
results_df = pd.read_csv('dataset/results.csv')
races_df = pd.read_csv('dataset/races.csv')

In [31]:
race_results_df = pd.merge(results_df, races_df, on='raceId')

In [32]:
last_ten_years = race_results_df[['year']] \
                    .groupby('year') \
                    .count() \
                    .reset_index() \
                    .sort_values('year', ascending=False) \
                    .head(10)['year'] \
                    .tolist()

In [33]:
race_results_last_years_df = race_results_df[race_results_df['year'] \
                .isin(last_ten_years)]

In [34]:
final_classification_last_years_df = race_results_last_years_df[['year', 'driverId', 'points']] \
                .groupby(['year', 'driverId']) \
                .sum() \
                .reset_index() \
                .sort_values(['year','points'], ascending=[True, False])

In [35]:
report_1_df = final_classification_last_years_df[['year', 'points']].groupby('year') \
                .head(20) \
                .groupby('year') \
                .median() \
                .reset_index()

In [36]:
report_1_df = report_1_df.rename(columns={'points': 'median_points'})

In [37]:
report_1_df

   year  median_points
0  2008           23.0
1  2009           23.0
2  2010           47.0
3  2011           35.5
4  2012           64.5
5  2013           50.0
6  2014           57.0
7  2015           54.5
8  2016           53.5
9  2017           43.0

In [38]:
report_1_df.to_excel('reports/report1.xlsx', header=True, index=False)